mixin blog-card-and-details(props, type)
    .card.blog.border-0.col(class=`blog--${type}`)
        a(href='#')
            .blog__img-ctn
                img.card-img-top.blog__img(
                    src=`${pagesAssetSrc}/images/${props.img}.png`
                    alt='Product cover'
                )
        //- CARD BODY
        .card-body.pt-2.pb-0.ps-0.pe-0 
            //- TITLE
            a.text-black(href='#')
                if type == 'card'
                    h2.blog__title.text-center.fs-7 #{props.title.toUpperCase()}
                    hr.m-auto.mt-2.mb-2
                else
                    h1.blog__title.text-start.fs-5 #{props.title.toUpperCase()}
                    hr.m-auto.mt-3.mb-3
            //- DESC
            p.blog__desc.fs-7= props.desc
            .blog__author 
                i.text-lightgray Bởi #{props.author} #{props.date}
            hr.mt-1.mb-1
        .card-footer.bg-white.d-flex.justify-content-between.border-0.p-0 
            a.text-lightgray(href="#") Đọc thêm >
            a.text-lightgray(href="#") 23 Bình luận

mixin blog-img(img)
    .blog__img-ctn
        img.card-img-top.blog__img(
            src=`${pagesAssetSrc}/images/${img}.png`
            alt='Product cover'
        )

