extends ../layouts/default-layout

block variables
    -   
        const promotionShortItems = [
            {icon: 'plane', content: 'Miễn phí vận chuyển trên toàn quốc'},
            {icon: 'gift', content: 'Nhận ngay quà tặng trị giá 350.000đ'},
            {icon: 'black-star', content: 'Giảm 30% cho đơn hàng trên 5.000.000đ'}
        ]
    - 
        const productBestsellerNavItems = ['Mỹ phẩm', '.', 'Chăm sóc da', '.', 'Dành cho tóc', '.', 'Nước hoa', '.', 'Trang sức', '.', 'Quà tặng']
    -   
        const socialMeds = ['facebook', 'twitter', 'instagram', 'google', 'pinterest', 'linkedin']
    -   
        const productTags = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Đồng hồ', 'Túi', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Giày', 'Sandal', 'Trẻ em', 'Thời trang nữ', 'Trẻ em', 'Thời trang nữ'] 

block includes 
    include ../constants/products
    include ../constants/blogs
    include ../mixins/homepage/promotion-long-text-item
    include ../mixins/product
    include ../mixins/homepage/product-carousel
    include ../mixins/homepage/social-media
    include ../mixins/homepage/bestseller-nav-item
    include ../mixins/homepage/company-intro-header
    include ../mixins/blog
    include ../mixins/tag

block nav
    nav.navbar.navbar--homepage.navbar-expand-lg.p-0.navbar-light
        include ../partials/navbar.pug

block main
    main.homepage 
        //- INTRO SECTION
        section.container-fluid.m-0.intro.mb-5.bg-light.overflow-hidden
            .container    
                .container.row.position-relative
                    .intro__product.col-6.d-flex.flex-column.justify-content-between
                        .img-ctn.d-flex.flex-column.align-items-center.pb-3
                            img.intro__product-img(src=`${pagesAssetSrc}/images/intro-product.svg`, alt='Intro product')
                        .intro__product-info.text-center.flex-grow-1.d-flex.flex-column.justify-content-between 
                            h2.intro__product-title.m-0 GreenVera
                            h4.intro__product-name.fw-light Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
                            h3.intro__product-price.fw-light.text-olivedrab GIÁ CHỈ 750000
                            a.intro__product-buy.text-black(href='#') MUA HÀNG
                    img.intro__woman.col-6(src=`${pagesAssetSrc}/images/intro-woman.svg`, alt='Intro background')
        
        //- PROMOTION SECTION
        section.container-fluid.promotion.mb-5
                //- SHORT
                .promotion__short.row.justify-content-center.ps-4.pe-4.justify-content-center 
                    each promo in promotionShortItems
                        .promotion__short-item.col-12.col-sm-4.d-flex.flex-sm-column.align-items-center.pt-2.pb-2.pe-sm-4.ps-sm-4.text-sm-center
                            img.promotion__short-img.me-2.me-sm-0.mb-1(src=`${pagesAssetSrc}/icons/${promo.icon}.svg`, alt='Promo') 
                            span.fw-bold.fs-7= promo.content
                //- LONG 
                .promotion__long.row.mt-5.justify-content-center
                    //- FIRST BLOCK 
                    .col-12.col-md-6.row.g-3.mt-0
                        //- SHOWER GEL
                        .col-6
                            img.promotion__long-img(src=`${pagesAssetSrc}/images/promotion-shower-gel.svg`, alt='Shower-gel') 
                        .col-6
                            +promotion-long-text-item('promotion__long-product--shower-gel', 'SỮA TẮM', 'breaker-white', 'text-white')
                        //- PERFUME
                        .col-6
                            +promotion-long-text-item('promotion__long-product--perfume', 'NƯỚC HOA')
                        .col-6.position-relative
                            img.promotion__long-img(src=`${pagesAssetSrc}/images/promotion-perfume.svg`, alt='Perfume') 
                            .promotion__perfume.position-absolute.top-50.start-50.translate-middle.w-50.d-flex.flex-column
                                h4.fw-bold.fs-7 TỪ 1/6 - 5/6/2015
                                h4.fs-1.m-0 -40%
                                a.align-self-end.text-olivedrab.fs-7(href="#") MUA HÀNG 
                    //- SECOND BLOCK - VIDEO
                    .col-12.col-md-6.pe-3.pt-3
                        //- video.promotion__long-img(poster=`${pagesAssetSrc}/images/promotion-video.svg`)
                        img.promotion__long-img(src=`${pagesAssetSrc}/images/promotion-video.svg`, alt='Video')
                .promotion__long.row.mt-3
                    //- THIRD BLOCK - COMBO
                    .col-12.col-md-6.pe-3.pt-3.position-relative
                        img.promotion__long-img(src=`${pagesAssetSrc}/images/promotion-combo.svg`, alt='Combo')  
                        .promotion__long-combo 
                            h3.fw-light COMBO TẮM TRẮNG 
                            h4 Tại nhà     
                    //- FORTH BLOCK 
                    .col-12.col-md-6.row.g-3.mt-0
                        //- DIAMOND
                        .col-6
                            +promotion-long-text-item('promotion__long-product--diamond', 'TRANG SỨC')
                        .col-6
                            img.promotion__long-img(src=`${pagesAssetSrc}/images/promotion-diamond.svg`, alt='Diamond') 
                        .col-6
                            img.promotion__long-img(src=`${pagesAssetSrc}/images/promotion-girl.svg`, alt='Advertise') 
                        //- DAISY
                        .col-6
                            +promotion-long-text-item('promotion__long-product--daisy')
        
        //- PRODUCT INTRO BY COMPANY
        section.products.pt-3.pt-md-5.pb-5.ps-0.pe-0.w-100
            .products__intro.container.position-relative.row.justify-content-center.justify-content-lg-start.p-0
                //- PRODUCT MANAGER
                .img-ctn.col-2.col-md-2.order-1.order-sm-0.d-flex.justify-content-center
                    img.products__intro-manager.rounded-circle.p-2.border.border-2(src=`${pagesAssetSrc}/images/products-manager.svg`, alt='Product Manager') 
                //- PRODUCT OPINION
                .products__intro-opinion.col-12.col-sm-10.col-md-8.order-0.order-sm-1.text-center.text-sm-start 
                    p “ Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto  ”
                    span.fs-6 TUTILE  
                        i.fw-light.fs-6 _ Giám đốc phát triển sản phẩm
                        br
                    img.icon.icon--nav(src=`${pagesAssetSrc}/icons/products-dots.svg`, alt='dot')
                //- ADDITIONAL BACKGROUND
                img.products__intro-flower.col-4.position-absolute.end-0(src=`${pagesAssetSrc}/images/products-flower.svg`, alt='Background') 
            //- PRODUCTS BESTSELLER 
            .products__bestseller.mt-5.pt-5.ms-0.me-0 
                //- PRODUCTS BESTSELLER NAV
                .products__bestseller-nav.w-75.m-auto
                    //- PRODUCTS BESTSELLER NAV UPPER
                    .products__bestseller-nav--upper.row.flex-column.flex-sm-row.align-items-center.justify-content-center
                        .col.col-sm-3.col-md-2.text-sm-end 
                            span Sản phẩm mới
                        .col.col-sm-6.col-md-4.text-sm-center.text-olivedrab 
                            span.fs-3.flex-grow-1 Sản phẩm bán chạy
                        .col.col-sm-3.col-md-2.text-sm-start 
                            span Sản phẩm đặc biệt
                    div.w-100.d-flex.justify-content-center.mt-3.mb-3
                        img.line-breaker.m-auto(src=`${pagesAssetSrc}/icons/breaker-long.svg`)
                    //- PRODUCTS BESTSELLER NAV BELOW
                    ul.products__bestseller-nav--below.row.d-flex.justify-content-between.m-auto.mb-5.ps-0
                        each item in productBestsellerNavItems
                            +productsBestsellerNavItem(item)
                //- PRODUCTS BESTSELLER CAROUSEL 
                .products__bestseller-carousel
                    +productCarousel('product-carousel')

        //- ABOUT US 
        section.container-fluid.company-intro.pd-0.pb-md-5.mb-5
            //- COMPANY SOCIAL MEDS
            .company-intro__social-meds.row 
                each media in socialMeds 
                    +socialMedia(media)
            //- COMPANY OTHERS
            .company-intro__others.row.mt-5.pt-2 
                //- COMPANY INTRO - ABOUT US
                .company-intro__about-us.col-12.col-sm-6.col-xxl-4.mb-5.mb-md-0
                    +companyIntroHeader('VỀ CHÚNG TÔI')
                    .company-intro__about-us__logo
                        a.navbar-brand.text-black(href="#")    
                            span.ps-1.pe-2.me-1.rounded-circle.text-white.fs-1 M
                            span    andala
                    h5.fs-7 Giới thiệu chung về mỹ phẩm handmade Mandala 
                    p.fs-7.mb-0 Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.  
                    a.fs-7.text-lightslategray(href="#") Xem thêm
                //- COMPANY INTRO - BLOG
                .company-intro__blog.col-12.col-sm-6.col-xxl-4.mb-5.mb-md-0
                    +companyIntroHeader('BLOG')
                    .pt-3
                        +blog-card-and-details(blogs[0], 'card')
                //- COMPANY INTRO - EMAIL + TAGS
                .col-12.col-md-12.col-xxl-4.row.m-0.mb-5.mb-md-0.mt-0.mt-sm-2.mt-md-4.mt-xxl-0
                    //- COMPANY INTRO - EMAIL
                    .company-intro__email.col-12.col-sm-6.col-xxl-12.mb-5.mb-md-0
                        +companyIntroHeader('GỬI EMAIL CHO CHÚNG TÔI')
                        form.d-flex.flex-column.align-items-center.pt-3.gap-2
                            input.form-control#input-email(type="email"  aria-describedby="emailHelp",  placeholder='Email của bạn')
                            label.fs-7(for="input-email") Gửi email để nhận những ưu đãi mới nhất
                            button.btn.btn-dark.fs-7.pe-4.ps-4.rounded-0(type="submit") Gửi
                    //- COMPANY INTRO - TAGS
                    .company-intro__product-tags.col-12.col-sm-6.col-xxl-12.mt-0.mt-xxl-3
                        +companyIntroHeader('TAG SẢN PHẨM')
                        .tags-ctn.pt-3
                            each tag in productTags
                                +tag(tag)

    include ../components/newsletter-popup 
